<article class="cs-article">
  <h1>project overview</h1>
  <p>
    Value Schools is a mature charter management organization that has adapted a highly effective model for educating low-income and minority students. They provide a strong academic program in a small school setting, with a decentralized structure that can respond to the particular needs of students and their families. The approach emphasizes responsible behavior and provides an underlying inspirational vision of what it means to be an educated person in the 21st Century.
  </p>

  <p>
    After two years of fruitless searching on their own, Value Schools engaged Red Hook to find a home for University Prep Value High School in the Pico Union area of Los Angeles. In short order, we led the entitlement, conversion and handover of an existing two-story, ~20,000 square foot commercial warehouse.
  </p>

  <p>
    Red Hook grew the space into a 29,577 square foot classroom and administration building, suitable for a maximum enrollment of 480 students. As there was no option to purchase the building, Red Hook handled lease negotiations on behalf of the school. The school was able to bond-finance the improvements - unusual for a leased property.
  </p>

  <p>
    To much local fanfare, the school opened in 2017.
  </p>
</article>
