<section class="pull-quote">
  <div class="pull-quote__container">
    <blockquote class="pull-quote__block">
        <p>“<strong>For years now, Value Schools has worked hand-in-hand with Red Hook Capital to find, design and create magnificent schools for our students.</strong> From financing to development, Red Hook was with us every step of the way. Red Hook identified possible school sites, helped develop strategies to finance our development, and facilitated our work with architects and contractors. Together with Red Hook Capital, we have built exceptional schools!”</p>
        <footer>
          <cite>
            <h2 class="pull-quote__source">- David Doyle</h2>
            <p class="pull-quote__source-title">President and CEO, Value Schools</p>
          </cite>
        </footer>
    </blockquote>
  </div>
</section>
