<section class="touts">
  <div class="touts__container">
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">54%</h2>
        <img src="{{ "images/case-studies/value-schools/touts/the-only.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>54%</strong> more students accepted to the UC system</p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">97%</h2>
        <img src="{{ "images/case-studies/value-schools/touts/outperform.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>97%</strong> of seniors received their diplomas</p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">98%</h2>
        <img src="{{ "images/case-studies/value-schools/touts/diverse.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>98%</strong> of graduates are attending 2- or 4-year universities and colleges</p>
      </div>
    </div>
  </div>
</section>
