<article class="cs-article">
  <h1>project overview</h1>
  <p>
    City Language Immersion Charter (CLIC) is a dual-language immersion elementary school located in the West Adams neighborhood of Los Angeles. Through their progressive language immersion program, students evolve into creative and curious thinkers, fully bilingual and literate in Spanish and English, expressing ideas fearlessly in two languages.
  </p>

  <p>
    When Red Hook engaged with CLIC to provide a full suite of services, the school faced serious challenges, including identifying a site to accommodate its full student body of 430 students, designing a campus on a small urban site, securing entitlements within a tight timeframe, and ensuring community satisfaction with the project’s integration with the neighborhood fabric.
  </p>

  <p>
    Red Hook shepherded CLIC through the process with great success. After a thorough search, we found an excellent location in a neighborhood that lacked top-notch learning opportunities.
  </p>

  <p>
    Once the space was secured, our creativity came into play to optimize the building on the lot and for the school. The building responds to its location by following the curve of the street, insulating play and eating areas from the busy street. Furthermore, it accommodates spaces at a variety of scales by allowing the users to separate or combine rooms with movable walls to transform from intimate to large gathering areas.
  </p>

  <p>
    During the entitlements process, Red Hook and CLIC did community outreach, met with the local neighborhood council, gained support from the district councilman, and won approval of the project from the Planning Department, all within a tight timeline to ensure the project stayed on schedule. We also met with community groups to address the tricky logistics of pickup and drop-off.  As a result, adjustments were made to the site plan to provide a larger pickup and drop-off area on site and thereby lessen the traffic impact on nearby residential streets.
  </p>

  <p>
    Red Hook's recommendations for project financing led CLIC to purchase the building far ahead of schedule, thus obtaining lower-cost financing and establishing a stronger foundation for long-term stability.
  </p>

</article>
