<section class="cs-gallery">
  <div class="cs-gallery__container">
    <div class="cs-gallery__controls">
      <button class="cs-gallery__control-btn--left js-prev-btn">
        {{ partial "svgs/chevron-left.svg" (dict "class" "cs-gallery__control-icon--left")}}
      </button>
      <div class="cs-gallery__count">
        <span class="cs-gallery__current-number"></span>
        of
        <span class="cs-gallery__total-number"></span>
      </div>
      <button class="cs-gallery__control-btn--right js-next-btn">
        {{ partial "svgs/chevron-right.svg" (dict "class" "cs-gallery__control-icon--right")}}
      </button>
    </div>
    <div class="cs-gallery__slides-container">
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/1.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/2.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/3.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/4.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/5.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/6.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/7.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/8.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/9.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/10.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/11.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/12.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/13.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/14.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/15.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/16.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/17.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/18.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/19.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/20.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/21.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/22.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/23.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/24.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/25.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/26.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/27.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/28.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/29.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/30.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/31.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/32.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
      <div class="cs-gallery__slide cs-slide">
        <p class="cs-slide__img-wrapper">
          <img src="{{ "images/case-studies/clic/gallery/33.jpg" | relURL }}" alt="" class="cs-slide__img">
        </p>
      </div>
    </div>
  </div>
</section>
