<section class="cs-header" style="background-image:url({{ "images/case-studies/clic/featured.jpg" | relURL }});">
  <div class="cs-header__container">
    <a class="cs-header__close-link" href="{{ "index.html" | relURL }}">{{ partial "svgs/close.svg" (dict "class" "cs-header__close-icon")}}</a>
    <div class="cs-header__copy">
      <h1 class="cs-header__title">City Language Immersion and Charter School (CLIC)</h1>
      <p class="cs-header__sub-title">Solving the challenge of building new schools in fully developed neighborhoods</p>
    </div>
  </div>
</section>
