<section class="touts">
  <div class="touts__container">
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">The Only</h2>
        <img src="{{ "images/case-studies/clic/touts/the-only.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p>The <strong>Only</strong> Spanish Dual Immersion School In Los Angeles </p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">Outperform</h2>
        <img src="{{ "images/case-studies/clic/touts/outperform.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p>Academically <strong>outperforms</strong> similar demographically-based schools throughout California (according to State Testing)</p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">Diverse</h2>
        <img src="{{ "images/case-studies/clic/touts/diverse.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>Racially and ethnically diverse --</strong> honestly represents West Adams (50% free and reduced lunch, 30% Latino, 35% African-American, 5% other)</p>
      </div>
    </div>
  </div>
</section>
