// fonts
/*-------------------------------------------------------------------------------------------------*/
// @import url(//fonts.sisutastic.com/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Playfair+Display&display=swap');


// regular
// ----------------------------------------- //
@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNextRegular/AvenirNextRegular.eot');
  src: url('../fonts/AvenirNextRegular/AvenirNextRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextRegular/AvenirNextRegular.woff') format('woff'),
       url('../fonts/AvenirNextRegular/AvenirNextRegular.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextItalic';
  src: url('../fonts/AvenirNextItalic/AvenirNextItalic.eot');
  src: url('../fonts/AvenirNextItalic/AvenirNextItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextItalic/AvenirNextItalic.woff') format('woff'),
       url('../fonts/AvenirNextItalic/AvenirNextItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url('../fonts/AvenirNextMedium/AvenirNextMedium.eot');
  src: url('../fonts/AvenirNextMedium/AvenirNextMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextMedium/AvenirNextMedium.woff') format('woff'),
       url('../fonts/AvenirNextMedium/AvenirNextMedium.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextMediumItalic';
  src: url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.eot');
  src: url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.woff') format('woff'),
       url('../fonts/AvenirNextMediumItalic/AvenirNextMediumItalic.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../fonts/AvenirNextBold/AvenirNextBold.eot');
  src: url('../fonts/AvenirNextBold/AvenirNextBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextBold/AvenirNextBold.woff') format('woff'),
       url('../fonts/AvenirNextBold/AvenirNextBold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

// condensed
// ----------------------------------------- //

@font-face {
  font-family: 'AvenirNextCondensedRegular';
  src: url('../fonts/AvenirNextCondensedRegular/AvenirNextCondensedRegular.eot');
  src: url('../fonts/AvenirNextCondensedRegular/AvenirNextCondensedRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextCondensedRegular/AvenirNextCondensedRegular.woff') format('woff'),
       url('../fonts/AvenirNextCondensedRegular/AvenirNextCondensedRegular.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'AvenirNextCondensedBold';
  src: url('../fonts/AvenirNextCondensedBold/AvenirNextCondensedBold.eot');
  src: url('../fonts/AvenirNextCondensedBold/AvenirNextCondensedBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNextCondensedBold/AvenirNextCondensedBold.woff') format('woff'),
       url('../fonts/AvenirNextCondensedBold/AvenirNextCondensedBold.ttf') format('truetype');
  font-weight: normal;
  text-rendering: optimizeLegibility;
}






