@mixin container {
  max-width: 1280px;
  padding-right: 60px;
  padding-left: 60px;
  margin: 0 auto;
}

@mixin container--sml {
  padding-right: 20px;
  padding-left: 20px;
}

@mixin container-flex--sb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 60px;
}

@mixin section-title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: $regular;
  font-weight: 600;
  letter-spacing: .9px;
}

@mixin section-title--sml {
  font-size: 24px;
  margin-bottom: 11px;
}

@mixin section-heading {
  font-size: 64px;
  font-family: $alt;
  line-height: 1.2;
}

@mixin section-details {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.005em;
  text-align: center;
  margin-bottom: 40px;
}

@mixin section-details--sml {
  font-size: 16px;
  margin-bottom: 20px;
}
