// fonts
/*-------------------------------------------------------------------------------------------------*/
$regular: 'AvenirNextRegular', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$italic: 'AvenirNextItalic', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$medium: 'AvenirNextMedium', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mediumItalic: 'AvenirNextMediumItalic', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold: 'AvenirNextBold', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$regularCond: 'AvenirNextCondensedRegular', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$boldCond: 'AvenirNextCondensedBold', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
// ------------------------------------------------------------------------------------------------- //
$blue: #707d92;
$red: #e82924;
$darkGray: #222120;

$darkText: $darkGray;

$bg: #f3f3f3;

// Breakpoints
// ------------------------------------------------------------------------------------------------- //
$mobileNav: 870px;

// Sizing
// ------------------------------------------------------------------------------------------------- //
$navHeight: 84px;

// Easing
/*-------------------------------------------------------------------------------------------------*/
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
