// fonts
/*-------------------------------------------------------------------------------------------------*/
$regular: 'AvenirNextRegular', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$italic: 'AvenirNextItalic', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$medium: 'AvenirNextMedium', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mediumItalic: 'AvenirNextMediumItalic', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold: 'AvenirNextBold', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$regularCond: 'AvenirNextCondensedRegular', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$boldCond: 'AvenirNextCondensedBold', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
// ------------------------------------------------------------------------------------------------- //
$blue: #707d92;
$red: #e82924;

$darkText: #222120;

$bg: #f3f3f3;

// Breakpoints
// ------------------------------------------------------------------------------------------------- //
$mobileNav: 720px;
