<article class="cs-article">
  <h1>project overview</h1>
  <p>Coral Academy is a K-12 state-sponsored, tuition-free public charter school headquartered in Las Vegas. They operate campuses around the city, with over 1,500 enrolled students. After opening their first campus in August 2007, they have built a record of ongoing outstanding academic achievement. Coral has been designated by the Nevada Department of Education as a high-achieving school, earning a 5-star (highest) rating each of the past five years. </p>

  <p>Coral came to Red Hook with needs for a new location and an incredibly tight timeline. Red Hook moved swiftly to find the spot for their new Centennial Hills Campus, bought the land, improved the interior and exterior of the buildings and leased it to the school. </p>

  <p>With the opening of the new campus, Coral increased student enrollment from approximately 1,500 to 2,100 for the school year beginning August 2016. At this level, the school is fully enrolled at all four campuses.</p>

  <p>Now, Coral is in the process of purchasing the campus from Red Hook. They anticipate closing on the property in the late Fall. </p>


</article>
