<section class="cs-header" style="background-image:url({{ "images/case-studies/coral/featured.jpg" | relURL }});">
  <div class="cs-header__container">
    <a class="cs-header__close-link" href="{{ "index.html" | relURL }}">{{ partial "svgs/close.svg" (dict "class" "cs-header__close-icon")}}</a>
    <div class="cs-header__copy">
      <h1 class="cs-header__title">Coral Academy Centennial Hills Campus</h1>
      <p class="cs-header__sub-title">Spreading Success to a fourth campus in Nevada</p>
    </div>
  </div>
</section>
