<section class="pull-quote">
  <div class="pull-quote__container">
    <blockquote class="pull-quote__block">
        <p>“<strong>Red Hook had confidence in us and had faith that our new campus would be a success.</strong> Red Hook closed on a vacant two-story building in January 2016 and completed the interior and exterior improvements by July 2016.  We were able to open our doors in August 2016 fully enrolled with 600 students.  Our new campus is thriving and we couldn't have done it without a great partner like Red Hook!”</p>
        <footer>
          <cite>
            <h2 class="pull-quote__source">- Ercan Aydogdu</h2>
            <p class="pull-quote__source-title">Executive Director, Coral Academy of Science Las Vegas</p>
          </cite>
        </footer>
    </blockquote>
  </div>
</section>
