<section class="pull-quote">
  <div class="pull-quote__container">
    <blockquote class="pull-quote__block">
        <p>“<strong>Redhook has been a great partner throughout this process.</strong> <br/>
          They have been flexible and responsive to our particular situation as a school and creative in solving problems along the way. Their project management team is second to none and stayed on top of every detail of the project throughout the construction process. We would definitely do another project with them.”</p>
        <footer>
          <cite>
            <h2 class="pull-quote__source">- Valerie Braimah</h2>
            <p class="pull-quote__source-title">Executive Director, City Charter Schools</p>
          </cite>
        </footer>
    </blockquote>
  </div>
</section>
