<section class="touts">
  <div class="touts__container">
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">95%</h2>
        <img src="{{ "images/case-studies/coral/touts/the-only.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>95%</strong> graduation rate</p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">Waitlist</h2>
        <img src="{{ "images/case-studies/coral/touts/outperform.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>Waitlist</strong> of over 2,700</p>
      </div>
    </div>
    <div class="touts__tout tout">
      <div class="tout__img-wrapper">
        <h2 class="tout__title">5-star rated</h2>
        <img src="{{ "images/case-studies/coral/touts/diverse.jpg" | relURL }}" alt="" class="tout__img">
      </div>
      <div class="tout__details">
        <p><strong>5-star rated</strong> by NVDOE</p>
      </div>
    </div>
  </div>
</section>
