@media (min-width: $mobileNav + 1px) {
  .internal-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(232, 41, 36, 0.60);
    transition: background-color 0.3s ease,
                height 0.3s ease;
  }
  .internal-nav.is-compact {
    background-color: rgba(232, 41, 36, 0.95);
  }
    .internal-nav__container {
      @include container;
      display: flex;
      height: 149px;
      transition: all 0.3s ease;
    }
    .internal-nav.is-compact .internal-nav__container {
      height: 84px;
    }
      // logo
      // ----------------------------------------- //
      .internal-nav__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 7%;
        transition: margin 0.3s $easeInOutQuad,
                    opacity 0.3s 0.2s $easeInOutQuad;
        position: relative;
        z-index: 1;
        opacity: 1;
      }
        .internal-nav__logo-icon {
          width: 188px;
          height: 60px;
          transition: all 0.3s $easeInOutQuad;
        }
      .internal-nav.is-compact .internal-nav__logo {
        margin-right: 7%;
        .internal-nav__logo-icon {
          width: 130px;
          height: 41px;
        }
      }

      // list
      // ----------------------------------------- //
      .internal-nav__list {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s $easeInOutQuad;
        position: relative;
        z-index: 2;
        max-width: 1027px;
        margin: 0 auto;
      }
        .internal-nav__item {

        }
          .internal-nav__link {
            position: relative;
            display: block;
            height: 149px;
            line-height: 149px;
            color: #fff;
            font-size: 18px;
            font-family: $bold;
            text-transform: uppercase;
            padding: 0 5px;
            letter-spacing: 0.05em;
            transition: all 0.3s $easeInOutQuad;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 3px;
              right: 3px;
              height: 0;
              background-color: #fff;
              transition: height 0.15s ease;
            }

            &:hover:after,
            &.is-current:after {
              height: 5px;
            }
          }
          .internal-nav.is-compact .internal-nav__link {
            font-size: 16px;
            height: 84px;
            line-height: 84px;
          }
            .internal-nav__icon {
              display: none;
            }
}

@media (max-width: 970px) {
  .internal-nav .internal-nav__logo {
    margin-right: 3%;
  }
}

@media (max-width: $mobileNav) {
  .internal-nav {
    position: fixed;
    width: 160px;
    top: 0;
    right: -160px;
    background-color: $darkGray;
    height: 200%;
    z-index: 200;
    transition: right 0.3s ease;
  }

  body.has-open-nav {
    .internal-nav {
      right: 0;
    }
  }
    .internal-nav__container {
      padding-top: 0;
    }
      // logo
      // ----------------------------------------- //
      .internal-nav__logo {
        display: none;
      }

      // list
      // ----------------------------------------- //
      .internal-nav__list {

      }
        .internal-nav__item {

        }
          .internal-nav__link {
            font-size: 12px;
            font-family: $bold;
            text-transform: uppercase;
            display: block;
            color: #fff;
            padding: 24px 23px;
            letter-spacing: 0.04em;
          }
            .internal-nav__icon {
              fill: #fff;
              width: 6px;
              height: 9px;
              margin-left: 8px;
              position: relative;
            }
}
