@media (min-width: $mobileNav + 1px) {
  .internal-nav {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 84px;
    margin-top: -84px;
    z-index: 100;
    background-color: rgba(232, 41, 36, 0.7);
    transition: background-color 0.3s ease;
  }
  .internal-nav.is-sticky {
    position: fixed;
    top: 84px;
    background-color: rgba(232, 41, 36, 0.95);
  }
    .internal-nav__container {
      @include container;
      display: flex;
      transition: all 0.3s ease;
    }
      // logo
      // ----------------------------------------- //
      .internal-nav__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        margin-right: 0;
        transition: width 0.3s 0.1s $easeInOutQuad,
                    margin 0.3s 0.1s $easeInOutQuad,
                    opacity 0.3s $easeInOutQuad;
        position: relative;
        z-index: 1;
        opacity: 0;
      }
      .internal-nav.is-sticky .internal-nav__logo {
        width: 130px;
        margin-right: 7%;
        opacity: 1;
        transition: width 0.3s $easeInOutQuad,
                    margin 0.3s $easeInOutQuad,
                    opacity 0.3s 0.2s $easeInOutQuad;
      }
        .internal-nav__logo-icon {
          width: 130px;
          height: 41px;
        }

      // list
      // ----------------------------------------- //
      .internal-nav__list {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        transition: all 0.3s 0.2s $easeInOutQuad;
        position: relative;
        z-index: 2;
        max-width: 1027px;
        margin: 0 auto;
      }
      .internal-nav.is-sticky .internal-nav__list {
        transition: all 0.3s $easeInOutQuad;
      }
        .internal-nav__item {

        }
          .internal-nav__link {
            position: relative;
            display: block;
            height: 84px;
            line-height: 84px;
            color: #fff;
            font-size: 16px;
            font-family: $bold;
            text-transform: uppercase;
            padding: 0 5px;
            letter-spacing: 0.05em;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 3px;
              right: 3px;
              height: 0;
              background-color: #fff;
              transition: height 0.15s ease;
            }

            &.is-current:after {
              height: 5px;
            }
          }
            .internal-nav__icon {
              display: none;
            }
}

@media (max-width: 970px) {
  .internal-nav.is-sticky .internal-nav__logo {
    margin-right: 3%;
  }
}

@media (max-width: $mobileNav) {
  .internal-nav {
    position: fixed;
    width: 160px;
    top: 0;
    right: -160px;
    background-color: $darkGray;
    height: 200%;
    z-index: 200;
    transition: right 0.3s ease;
  }

  body.has-open-nav {
    .internal-nav {
      right: 0;
    }
  }
    .internal-nav__container {
      padding-top: 0;
    }
      // logo
      // ----------------------------------------- //
      .internal-nav__logo {
        display: none;
      }

      // list
      // ----------------------------------------- //
      .internal-nav__list {

      }
        .internal-nav__item {

        }
          .internal-nav__link {
            font-size: 12px;
            font-family: $bold;
            text-transform: uppercase;
            display: block;
            color: #fff;
            padding: 24px 23px;
            letter-spacing: 0.04em;
          }
            .internal-nav__icon {
              fill: #fff;
              width: 6px;
              height: 9px;
              margin-left: 8px;
              position: relative;
            }
}
