// header
// ------------------------------------------------------------------------------------------------- //
.site-header {
  display: none;
}
  .site-header__container {
    @include container;
  }
    // logo
    // ----------------------------------------- //
    .site-header__logo {

    }
      .site-header__logo-icon {

      }

    // menu btn
    // ----------------------------------------- //
    .menu-btn {

    }
      .menu-btn__icon {

      }

@media (max-width: $mobileNav) {

  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: auto;
    background-color: transparent;
    z-index: 100;
    padding: 0;
    transition: all .33s linear;
    &.is-sticky {
      background-color: $black;
    }
  }
    .site-header__container {
      @include container--sml;
      padding: 15px 5.3333%;
      display: flex;
      justify-content: space-between;
    }
      // logo
      // ----------------------------------------- //
      .site-header__logo {
        max-width: 350px;
        width: 46.6666%;
        height: 50px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
        .site-header__logo-icon {
          width: 83.5px;
          height: 27px;
        }

      // menu btn
      // ----------------------------------------- //
      .menu-btn {

      }
        .menu-btn__icon {
          fill: $white;
        }
}
