.site-footer {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-family: $regular;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  height: 61px;
  background-color: $black;
  padding-top: 25px;
}

@media (max-width: $mobileNav) {
  .site-footer {
    height: 40px;
    font-size: 10px;
    padding-top: 15px;
  }
}
