.bios {
  position: relative;
  background-color: $bg;
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
}
.bios.is-open {
  display: block;
}
.bios__container {
  @include container;
  
}

.bios__leadership__title {
  @include section-title;
  color: $red;
  text-align: center;
}

.bios__leadership__heading {
  @include section-heading;
  margin-top: 30px;
  text-align: center;

    br {
      display: none;
    }
}
// nav
// ----------------------------------------- //
// .bios__nav {
//   flex: 0 0 218px;
// }
// .bios__nav-item {
//   margin-bottom: 20px;
// }
// .bios__nav-link {
//   font-size: 20px;
//   font-family: $bold;
//   color: $darkText;
//   transition: color 0.2s ease;
//   &:hover {
//     color: $darkRed;
//   }
//   &.is-current {
//     color: $red;
//   }
// }
// close btn
// ----------------------------------------- //
.bios__close-btn {
  position: absolute;
  top: 98px;
  right: 60px;
  transition: all 0.3s ease;
}
.bios__close-icon {
  width: 25px;
  height: 25px;
  fill: $red;
  transition: all 0.3s ease;
}
// hover
.bios__close-btn:hover {
  transform: scale(1.1);
  .bios__close-icon {
    fill: $darkRed;
  }
}
// bio
// ----------------------------------------- //
.bios__bio {
  padding-top: 72px;
  padding-bottom: 72px;
  &:first-of-type {
    margin-top: 100px;
    padding-top: 0;
  }
  
}
// .bio {
//   //display: none;
// }
.bio {
  display: flex;
  position: relative;
  &:nth-child(odd) {
    flex-direction: row-reverse;
    &:after {
      background-color: $white;
      content: '';
      display: block;
      height: 100%;
      left: -25vw;
      position: absolute;
      width: 200vw;
      top: 0;
      z-index: 0;
    }

    .bio__copy-container {
      padding: 0 3.5344% 0 0;
    }
  }
}
// image
// ----------------------------------------- //
.bio__img-container {
  flex: 1 1 31.5%;
  width: 361px;
  height: 438px;
  position: relative;
  z-index: 2;;
}
.bio__img-wrapper {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  height: 100%;
  width: 100%;

}
.bio__img {
  width: 100%;
}
// copy
// ----------------------------------------- //
.bio__copy-container {
  flex: 1 1 64.6551%;
  padding: 0 25px 0 3.5344%;
  position: relative;
  z-index: 2;
}
.bio__title {
  @include section-heading;
  font-size: 48px;
  margin-top: 16px;
}
.bio__role {
  @include section-title;
  color: $red;
  margin-top: 20px;
}
.bio__details {
  font-size: 20px;
  line-height: 2.2;
  overflow: hidden;
  position: relative;

  p {
    margin-bottom: 32px;
    &:first-of-type {
      margin-top: 16px;
    }
  }

  .read-more {
    cursor: pointer;
    font-weight: 600;
  }

  .preview {
    transition: all .3s linear;
  }

  .bio-complete {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

  }

  &.open {
    .preview {
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    .bio-complete {
      opacity: 1;
      pointer-events: all;
      position: relative;
    }
  }

} /// .bio__details

.bio__extra {

  border-left: 3px solid $red;
  padding-left: 27px;

  .title {
    @include section-title;
    font-size: 20px;
    padding-left: 48px;
    background-image: url(/images/uploads/home/leadership/idea-icon.png);
    background-repeat: no-repeat;
    background-position: top left;
  }

  p {
    font-size: 20px;
    line-height: 2.2;
  }

}


.bio__email {
  margin-top: 32px;
}
.bio__email-link {
  color: $darkText;
  font-family: $bold;
  font-size: 15px;
  color: $red;
  transition: color 0.2s ease;
  &:hover {
    color: $darkRed;
  }
}
.bio__email-icon {
  width: 26px;
  height: 16px;
  fill: $red;
  margin-right: 9px;
  position: relative;
  top: 3px;
}

.mobile {
  display: none;
}

// mobile styles
// single column
// ----------------------------------------- //
@media (max-width: $mobileNav) {
  .bios {
    padding: 32px 0;

    &__bio,
    &__bi {
      display: flex;
      flex-flow: column;
      &:first-of-type {
        margin-top: 25px;
      }
      &:nth-child(odd) {
        .bio__img-wrapper {
          margin-right: 0;
        }
      }
    }

  }
  .bios__container {
    @include container--sml;
    padding-top: 0;
  }
  // .bio.is-current {
  //   display: block;
  // }

  .bios__leadership__title {
    @include section-title--sml;
  }
  .bios__leadership__heading { 
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
  }
  // close btn
  // ----------------------------------------- //
  .bios__close-btn {
    right: 20px;
    top: 33px;
    height: 11px;
    width: 11px;
    img {
      height: 11px;
      width: 11px;
    }
  }
  .bios__close-icon {
    width: 12px;
    height: 12px;
  }
  // image
  // ----------------------------------------- //
  .bio__img-container {
    display: flex;
    width: 100%;
  }
  .bio__img-wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
    min-width: 125px;
    flex: 0 0 37.8787%;
    width: 37.8787%;
    max-height: 150px;
    height: auto;
  }

  .bio__meta {
    flex: 0 0 62%;
  }
  // copy
  // ----------------------------------------- //
  .bio__copy-container {
    padding-left: 0;
    padding-right: 0;
  }
  .bio__title {
    font-size: 18px;
    margin-top: 8px;

  }
  .bio__role {
    font-size: 10px;
    margin-top: 8px;
  }
  .bio__details {
    font-size: 12px;
    line-height: 2;

    .preview {
      p {
        margin-bottom: 0;
      }
    }
    p {
      margin-bottom: 22px;
    }
  }

  .bio__extra {
    margin-top: 10px;
    padding-left: 12px;

    .title {
      background-size: 13px 16px;
      font-size: 10px;
      padding-left: 20px;
    }

    .memory {
      font-size: 11px;
      line-height: 2;
    }
  }

  .bio__title,
  .bio__role,
  .bio__extra {
    display: none;
    &.mobile {
      display: block;
    }
  }  

}

// hide side nav
// ----------------------------------------- //
@media (max-width: 630px) {
  // // nav
  // // ----------------------------------------- //
  // .bios__nav {
  //   display: none;
  // }
  // // image
  // // ----------------------------------------- //
  // .bio__img-wrapper {
  //   width: 53.5%;
  // }
}
