.careers {
		padding-top: 60px;
		padding-bottom: 60px;
		position: relative;

		&:before,
		&:after {
			content: '';
			display: block;
			height: 50%;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
		&:after {
			background-color: $black;
			bottom: 0;
		}
		&:before {
			background-color: $bg;
		}


	&__container {
		@include container-flex--sb;
		flex-wrap: wrap;
		background-color: $white;
		max-width: 1170px;
		padding-top: 60px;
		padding-bottom: 100px;
		padding-left: 73px;
		padding-right: 88px;

	}

	.col-left {
		flex: 0 0 225px;
		margin-top: 30px;
	}

	.col-right {
		flex: 0 0 700px;
		margin-top: 40px;
	}

 	&__title {
	  @include section-title;
	  color: $red;
	  flex: 0 0 100%;
	}

	&__heading {
		@include section-heading;
	}

	&__jobs {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: $white;

		.date {
			color: $darkGray;
			font-family: $bold;
			font-size: 12px;
			margin-right: 4.662%;
			margin-top: 7px;
		}

		.description {
			max-width: 855px;
		}

		.job-title {
			font-family: $bold;
			font-size: 24px;
			line-height: 1;
			margin-bottom: 30px;
		}

		.about-job {
			font-size: 18px;
			line-height: 40px;
			letter-spacing: 0.36px;
			margin-bottom: 45px;
		}

		.contact-job {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-family: $bold;
			font-size: 16px;

			a {
				color: $red;
			}

			img {
				margin-right: 15px;
			}
		}
	}

	// make columns a vertical column
	// ----------------------------------------- //
	@media (max-width: 870px) {

	}

	// mobile styles
	// ----------------------------------------- //
	@media (max-width: $mobileNav) {
		padding-top: 0;
		padding-bottom: 0;

	    &__container {
	    	@include container--sml;
	    	padding-top: 44px;
	    	padding: 40px 25px;
	    	width: calc(100% - 40px);
	    	flex-flow: column;

	    	.col {
	    		&-right,
	    		&-left {
	    			flex: 0 0 100%;
	    			width: 100%;
	    		}

	    		&-left {
	    			margin-top: 0;
	    			width: 100%;
	    			.careers__heading {
	    				font-size: 30px;
	    				margin-top: 10px;
	    				text-align: center;
	    				br {
	    					display: none;
	    				}
	    			}
	    		}

	    		&-right {
	    			margin-top: 30px;

	    			.about-job {
	    				font-size: 11px;
	    				line-height: 2;
	    				text-align: center;
	    				margin-bottom: 0;
	    			}

	    			.contact-job {
	    				font-size: 11px;
	    				justify-content: center;
	    				margin-top: 20px;
	    			}
	    		}
	    	}
	    }
	    // Intro
	    // ----------------------------------------- //
	    &__title {
		    @include section-title--sml;
		    margin-bottom: 0;
		    width: 100%;
		    text-align: center;
	    }

	    &__jobs {
	    	flex-flow: column;

	    	.date {
	    		margin-bottom: 12px;
	    	}

	    	.job-title {
	    		font-size: 22px;
	    		margin-bottom: 20px;
	    	}

	    	.about-job {
	    		font-size: 18px;
	    		line-height: 28px;
	    	}
	    }

	}

}