.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/home/hero.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: $navHeight;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    opacity: 0.4;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26.6%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    opacity: 0.5;
    z-index: 2;
  }
}

  // Container
  // ----------------------------------------- //
  .hero__container {
    @include container;
    padding-top: 0;
  }

    // Logo
    // ----------------------------------------- //
    .hero__logo {
      display: inline-block;
      position: relative;
      z-index: 3;
      margin-top: 44px;
    }
      .hero__logo-icon {
        width: 150px;
        height: 100px;
      }

    // Copy
    // ----------------------------------------- //
    .hero__copy-container {
      color: #fff;
      position: relative;
      z-index: 3;
      margin-top: 72px;
    }
      .hero__title {
        font-size: 70px;
        font-family: $bold;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
      }
      .hero__details {
        font-size: 20px;
        line-height: 1.4;
        max-width: 540px;
        letter-spacing: 0.005em;
        font-family: $medium;
      }

    // Scroll button
    // ----------------------------------------- //
    .scroll-down-btn {
      position: absolute;
      bottom: 125px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px 23px;
      z-index: 3;
    }
      .scroll-down-btn__text {
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        font-family: $bold;
        letter-spacing: 0.05em;
      }
      .scroll-down-btn__chevron {
        fill: $red;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12px;
        height: 7px;
      }

@media (max-width: $mobileNav) {
  .hero {
    margin-top: 48px;
    height: 379px;
    background-image: url(../images/home/hero-sml.jpg);
    margin-bottom: 0;
  }

    // Container
    // ----------------------------------------- //
    .hero__container {
      @include container--sml;
      padding-top: 0;
    }

      // Logo
      // ----------------------------------------- //
      .hero__logo {
        display: none;
      }

      // Copy
      // ----------------------------------------- //
      .hero__copy-container {
        margin-top: 24px;
      }
        .hero__title {
          font-size: 26px;
          margin-bottom: 12px;
        }
        .hero__details {
          font-size: 14px;
          line-height: 1.46;
          margin-right: 10%;
        }

      // Scroll button
      // ----------------------------------------- //
      .scroll-down-btn {
        display: none;
      }
}
