.leadership {
  background-color: $black;
  overflow: hidden;
  position: relative;
}
.leadership.is-open {
  display: none;
}
  .leadership__container {
    @include container-flex--sb;
    padding-top: 130px;
    padding-bottom: 170px;
  }

  .col-left {
    max-width: 500px;
  }
    .leadership__title {
      @include section-title;
      color: $red;
      margin-top: 15px;
    }
    .leadership__heading {
      @include section-heading;
      color: $white;
      margin-top: 30px;
    }

    .leadership__details {
      color: $white;
      font-size: 18px;
      line-height: 40px;
      letter-spacing: .36px;
      margin-top: 27px;
    }

    .leadership__all-button {
      margin-top: 30px;
    }
      // leaders
      // ----------------------------------------- //
      .leadership__leaders {
        display: flex;
        justify-content: space-between;
      }
        // leader
        // ----------------------------------------- //
        .leadership__leader {
          flex: 0 1 49%;
          max-width: 277px;
        }
          .leader__link {
            display: block;
            color: $darkText;

            &:hover {
              .leader__title {
                color: $darkRed;
              }
            }
          }
            // img
            // ----------------------------------------- //
            .leader__img-wrapper {
              overflow: hidden;
              font-size: 0;
              line-height: 0;
              max-width: 277px;
              max-height: 442px;
            }
              .leader__img {
                width: 100%;
                transition: all 0.5s $easeInOutQuad;
              }
            .leader__img-wrapper:hover {
              .leader__img {
                transform: scale(1.1);
                opacity: 0.88;
              }
            }
            // copy
            // ----------------------------------------- //
            .leader__title {
              color: $white;
              font-size: 24px;
              font-family: $regular;
              font-weight: 600;
              margin-top: 24px;
              transition: all 0.5s $easeInOutQuad;
            }
            .leader__role {
              color: $white;
              font-size: 20px;
              margin-top: 20px;
            }
            // .leader__cta {
            //   font-family: $bold;
            //   font-size: 12px;
            //   transition: all 0.2s ease;
            // }
            //   .leader__cta-arrow {
            //     fill: $red;
            //     margin-left: 7px;
            //     width: 6px;
            //     height: 9px;
            //     position: relative;
            //     top: 1px;
            //     transition: all 0.2s ease;
            //   }
            .leader__cta:hover {
              color: $darkRed;
              .leader__cta-arrow {
                fill: $darkRed;
                transform: translateX(3px);
              }
            }

            button {
              &.mobile {
                display: none;
              }
            }

// three across
// ----------------------------------------- //
@media (max-width: 970px) {
  .leadership__leader {
    flex-basis: 33.333%;
    width: 33.333%;
  }
}


// smaller text
// ----------------------------------------- //
@media (max-width: $mobileNav) {

  .leadership {
    &__container {
      flex-flow: column;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__title,
    &__heading,
    &__details {
      text-align: center;
      margin-bottom: 0;
    }

    &__heading {
      font-size: 30px;
      margin-top: 12px;
      br {
        display: none;
      }
    }

    &__details {
      font-size: 12px;
      line-height: 2;
    }

    button {
      display: none;
      &.mobile {
        display: inline-block;
      }
    }

    &__leaders {
      margin-top: 26px;
      flex-flow: row;
      flex-wrap: wrap;
    }

    &__leader {
      // max-width: 150px;
      // width: 100%;
      flex: 0 0 45%;
    }

    button.default {
      flex: 0 0 1;
      margin: 30px auto 0;
      padding: 8px 25px 14px;
      span {
        font-size: 11px;
        line-height: 1;
      }
    }
  }

  .leader {
    &__title,
    &__role {
      text-align: center;
    }
  }
  // img
  // ----------------------------------------- //
  .leader__img-wrapper {
    margin-bottom: 14px;
  }
  // copy
  // ----------------------------------------- //
  .leader__title {
    font-size: 12px;
    margin-bottom: 11px;
  }
  .leader__role {
    font-size: 12px;
    margin-bottom: 11px;
  }
  .leader__cta {
    font-family: $bold;
    font-size: 12px;
  }
    .leader__cta-arrow {
      fill: $red;
      margin-left: 7px;
      width: 6px;
      height: 9px;
      position: relative;
      top: 1px;
    }
}

// single column
// ----------------------------------------- //
// @media (max-width: 700px) {
//   .leadership {
//     margin-bottom: 0;
//   }
//   // leaders
//   // ----------------------------------------- //
//   .leadership__leaders {
//     display: block;
//     margin-left: 0;
//     margin-right: 0;
//   }
//     // leader
//     // ----------------------------------------- //
//     .leadership__leader {
//       width: 100%;
//       max-width: 100%;
//       padding-right: 0;
//       padding-left: 0;
//       margin: 0 auto;
//     }
//     .leader__img-wrapper {
//       position: relative;
//       width: 53.5%;
//     }
// }

// mobile styles
// ----------------------------------------- //
@media (max-width: $mobileNav) {
  .leadership {
    // margin-bottom: 0px;
  }

    .leadership__container {
      @include container--sml;
      // padding-top: 44px;
    }
    // Intro
    // ----------------------------------------- //
    .leadership__title {
      @include section-title--sml;
      // margin-bottom: 45px;
      }
}
