.logo-scroller {
	background-color: $black;
	overflow: hidden;
	padding: 60px 0;

	.slider {
		margin-top: 0;

		&__container {
			margin-bottom: 0;

		}

		&__slides-container {
			margin-left: -2.855%;
			margin-right: -2.855%;


            animation-iteration-count: infinite;
            animation-timing-function: linear;
           	animation-name: ticker;
            animation-duration: 60s;


		}
	}

	//slides

	.slide {
		margin-right: 5.7101%;
		width: auto;
		flex: 0 0 auto;
	}

	img {
		align-self: center;
	}

	@media (max-width: $mobileNav) {
		padding: 55px 0;
		img {
			max-height: 36px;
		}
	}
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-296%, 0, 0);
  }
}
	

