.process {
  background-color: $black;

}
  .process__container {
    @include container;
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;

    .col {
      &-right {
        margin-left: auto;
        max-width: 575px;
        width: 100%;
      }
    }


  }
    .process__title {
      @include section-title;
      color: $red;
    }
    .process__heading {
      @include section-heading;
      color: $white;
      margin-top: 17px;
    }
    // .process__details {
    //   @include section-details;
    // }

// slider styles specific to large screens
// ----------------------------------------- //
@media (min-width: $mobileNav + 1) {
  // slider
  // ----------------------------------------- //
  .slider {
    position: relative;
    margin-top: 110px;
  }
    // slider container
    // ----------------------------------------- //
    .slider__container {
      margin-bottom: 45px;
      position: relative;
    }
      .slider__slides-mask {
        overflow: hidden;
      }

      // slides
      // ----------------------------------------- //
      .slider__slides-container {
        display: flex;
        transform: translateX(0);
        transition: all 0.4s $easeInOutQuad;
      }

        // slide
        // ----------------------------------------- //
        .slider__slide {
          // display: inline-block;
          display: inline-flex;
          justify-content: flex-start;
          width: 100%;
          flex: 0 0 100%;
        }
        .slide {
          position: relative;
          overflow: hidden;
        }
          // image
          // ----------------------------------------- //
          .slide_image {
            width: 50%;
          }

          .slide__img {
            //position: absolute;
            // top: 0;
            // right: 0;
            // height: 100%;
            img {
              height: 100%;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

          // copy
          // ----------------------------------------- //
          .slide__copy {
            position: relative;
            width: 50%;
            min-width: 50%;
            height: 100%;
            min-height: 480px;
            color: #fff;
            background-color:$white;
            z-index: 5;
            padding: 110px 6.72413% 110px 6.72413%;
          }
            .slide__number {
              @include section-title;
              color: $red;
              // display: inline-block;
              // font-size: 28px;
              // font-family: $medium;
              // width: 50px;
              // height: 50px;
              // background-color: $red;
              // text-align: center;
              // line-height: 50px;
              // margin-right: 13px;
              // border-radius: 50%;
              // position: relative;
              // top: -4px;
            }

            .slide__step-title {
              font-family: $alt;
              font-size: 40px;
              letter-spacing: .8px;
              color: $black;
              margin-top: 25px;
            }
            .slide__details {
              font-family: $regular;
              font-weight: 300;
              color: $darkGray;
              font-size: 18px;
              line-height: 2.22;
              letter-spacing: 0.36px;
              margin-top: 42px;
            }

      // next button
      // ----------------------------------------- //
      .slider__next-btn {
        position: absolute;
        top: 50%;
        right: -34px;
        margin-top: -30px;
        height: 68px;
        width: 68px;
        z-index: 10;
        background-color: $red;
        font-size: 16px;
        font-family: $bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.035em;
        padding: 12px 26px 12px 27px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }
      .slider__next-btn--last {
        display: none;
      }
      .slider.is-at-end {
        .slider__next-btn {
          display: none;
        }
      }
        .slider__next-copy--sml {
          display: none;
        }
        .slider__next-arrow {
          fill: #fff;
          width: 32px;
          height: 16px;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all .25s linear;
        }
      .slider__next-btn:hover {
        background-color: $darkRed;
        .slider__next-arrow {
          transform: translate(-35%,-50%);
        }
      }

    // pagination
    // ----------------------------------------- //
    .slider__pagination {
      text-align: center;
    }
      .slider__page {
        display: inline-block;
      }
        .slider__page-btn {
          font-family: $regular;
          font-weight: 600;
          color: $white;
          padding: 15px;
          font-size: 24px;
          position: relative;
          transition: color 0.3s ease;
          // &:after {
          //   content: "";
          //   position: absolute;
          //   bottom: 10px;
          //   left: 15px;
          //   right: 15px;
          //   height: 0;
          //   background-color: $red;
          //   transition: all 0.3s ease;
          // }
        }
        .slider__page-btn.is-current {
          color: $red;
          // &:after {
          //   height: 3px;
          // }
        }

        .slider__page-btn:hover,
        .slider__page-btn.is-current:hover {
          color: $darkRed;
          // &:after {
          //   // height: 3px;
          //   background-color: $darkRed;
          // }
        }
}

// mobile styles
// ----------------------------------------- //
@media (max-width: $mobileNav) {
  .process {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .process__container {
    @include container--sml;
    padding-top: 44px;
    padding-bottom: 50px;
  }

  // intro
  // ----------------------------------------- //
  .process__title {
    @include section-title--sml;
    text-align: center;
  }
  .process__heading {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }
  .process__details {
    @include section-details--sml;
  }

  // slider
  // ----------------------------------------- //
  .slider {
    margin-top: 25px;
  }
    // slider container
    // ----------------------------------------- //
    .slider__container {
      position: relative;
      display: flex;
      flex-direction: column;
    }
      .slider__slides-mask {
        overflow: hidden;
      }

      // slides
      // ----------------------------------------- //
      .slider__slides-container {
        display: flex;
        transform: translateX(0);
        transition: transform 0.4s $easeInOutQuad;
        margin-bottom: 15px;
      }

        // slide
        // ----------------------------------------- //
        .slider__slide {
          display: inline-flex;
          flex-direction: column-reverse;
          width: 100%;
          flex: 0 0 100%;
          font-size: 0;
          line-height: 0;
        }
        .slide {
          position: relative;
          overflow: hidden;
        }
          // image
          // ----------------------------------------- //
          .slide__img {
            width: 100%;
            img {
              width: 100%;
            }
          }

          // copy
          // ----------------------------------------- //
          .slide__copy {
            background-color: $white;
            position: relative;
            width: 100%;
            height: 100%;
            color: #fff;
            padding: 20px 27px;
          }
            .slide__title {
              font-size: 22px;
              text-transform: uppercase;
              font-family: $regular;
              letter-spacing: 1.1px;
              line-height: 1;
            }

            .slide__step-title {
              font-family: $alt;
              font-size: 24px;
              color: $black;
              line-height: 1.42;
              margin-top: 5px;
            }
              .slide__number {
                color: $red;
                display: inline-block;
                font-size: 12px;
                font-family: $regular;
                font-weight: 700;
                margin-right: 2px;
              }
            .slide__details {
              color: $black;
              font-family: $medium;
              font-size: 12px;
              line-height: 2;
              letter-spacing: 0.48px;
              margin-top: 6px;
            }

      // next button
      // ----------------------------------------- //
      .slider__next-btn {
        align-self: center;
        display: inline-block;
        background-color: $red;
        font-size: 11px;
        font-family: $regular;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2.2px;
        padding: 14px 35px;
        margin: 10px auto 0;

        svg {
          display: none;
        }
      }
      .slider__next-btn--last {
        display: none;
      }

      .slider.is-at-end {
        .slider__next-btn {
          display: none;
        }
        .slider__next-btn--last {
          display: block;
        }
      }
        .slider__next-copy--lrg {
          display: none;
        }

        .slider__next-arrow {
          fill: #fff;
          width: 6px;
          height: 8px;
          position: relative;
          margin-left: 2px;
        }

    // pagination
    // ----------------------------------------- //
    .slider__pagination {
      display: none;
    }
}
