.services {

}
  .services__container {
    @include container-flex--sb;
    padding-top: 83px;
    padding-bottom: 100px;
  }

  .services {

    &__col {

      &-left {
        max-width: 450px;
        width: 100%;
      }

      &-right {
        max-width: 575px;
        width: 100%;

        p {
          font-size: 18px;
          line-height: 2.22;
          letter-spacing: .36px;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }

    &__video {
      cursor: pointer;
      position: relative;
      &.active {
      }
    }

    &__video-instruction {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: .36px;
      margin-top: 30px;
      text-transform: uppercase;
    }

    &__video-play-btn {
      background-image: url(/images/uploads/home/services/play-btn.png);
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      height: 53px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 53px;
      z-index: 10;
      transition: all .25s linear;
      &.active {
        opacity: 0;
        pointer-events: none;
      }
    }

    &__video-keyframe-image {
      pointer-events: none;
      top: 0;
      left: 0;
      transition: all .33s linear;
      &.active {
        opacity: 0;
      }
    }

    &__video-container {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__responsive-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: -1px;
        top: 50%;
        transform: translateY(-50%);

      object,
      embed,
      iframe,
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 0;
      }

    }

    &__overlap-image {
      position: absolute;
      margin-top: 70px;
      z-index: 10;
    }

  }
    // intro
    // ----------------------------------------- //
    .services__title {
      @include section-title;
      color: $red;
      margin-top: 28px;
    }
    .services__heading {
      @include section-heading;
      margin-top: 45px;
    }
    .services__details {
      margin-top: 50px;
    }

    // list
    // ----------------------------------------- //
    .services__list {
      display: flex;
      justify-content: space-around;
      margin-top: 60px;
    }
      .services__list-item {
        position: relative;
      }
        .service {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
          .service__icon-wrapper {
            margin-bottom: 26px;
          }
            .service__icon {
              fill: $red;
            }
            .service__icon--handshake {
              width: 62px;
              height: 40px;
            }
            .service__icon--shovels {
              width: 40px;
              height: 40px;
            }
            .service__icon--building {
              width: 40px;
              height: 40px;
            }
          .service__title {
            font-size: 18px;
            text-transform: uppercase;
            font-family: $regular;
            font-weight: 600;
            letter-spacing: .9px;
          }
          // .service__details {
          //   font-size: 20px;
          //   line-height: 1.4;
          //   letter-spacing: 0.05em;
          //   margin: 0 50px;
          // }

// make columns a vertical column
// ----------------------------------------- //
@media (max-width: 870px) {
  // list
  // ----------------------------------------- //
  .services__list {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
    .services__list-item {
      width: 100%;
      margin-bottom: 14px;
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
    }
      .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px;
        min-height: 175px;
        width: 100%;
      }
}


// mobile styles
// ----------------------------------------- //
@media (max-width: $mobileNav) {
  .services {
    padding-bottom: 0;
  }
    .services__container {
      @include container--sml;
      padding-top: 44px;
    }
      // intro
      // ----------------------------------------- //
      .services__title {
        @include section-title--sml;
      }
      .services__details {
        @include section-details--sml;
      }

      // list
      // ----------------------------------------- //
      .services__list {
        // flex-direction: column;
        // margin-left: 20px;
        // margin-right: 20px;
      }
        .services__list-item {
          // margin-bottom: 14px;
        }
          .service {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // padding: 15px 20px;
            // min-height: 175px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
            .service__icon-wrapper {
              margin-bottom: 10px;
            }
              .service__icon {

              }
              .service__icon--handshake {
                width: 52.5;
                height: 35px;
              }
              .service__icon--shovels {
                width: 35px;
                height: 35px;
              }
              .service__icon--building {
                width: 35px;
                height: 35px;
              }
            .service__title {
              font-size: 17px;
              margin-bottom: 8px;
              letter-spacing: 0.05em;
            }
            .service__details {
              font-size: 14px;
              line-height: 1.6;
              margin: 0;
            }
}
