.services {

}
  .services__container {
    @include container;
    padding-top: 144px;
    margin-bottom: 1000px;
  }
    // intro
    // ----------------------------------------- //
    .services__title {
      @include section-title;
    }
    .services__details {
      @include section-details;
    }

    // list
    // ----------------------------------------- //
    .services__list {
      display: flex;
      align-items: stretch;
      margin-left: -7px;
      margin-right: -7px;
    }
      .services__list-item {
        display: flex;
        flex: 1 0;
        padding: 0 7px;
        position: relative;
      }
        .service {
          padding: 88px 50px 20px;
          min-height: 370px;
          text-align: center;
          position: relative;
          background-color: #fff;
        }
          .service__icon-wrapper {
            margin-bottom: 26px;
          }
            .service__icon {
              fill: $red;
            }
            .service__icon--handshake {
              width: 105px;
              height: 70px;
            }
            .service__icon--shovels {
              width: 70px;
              height: 70px;
            }
            .service__icon--building {
              width: 70px;
              height: 70px;
            }
          .service__title {
            font-size: 24px;
            text-transform: uppercase;
            font-family: $bold;
            margin-bottom: 20px;
            letter-spacing: 0.04em;
          }
          .service__details {
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0.05em;
          }
