<div class="bios">
  <div class="bios__container">
    <ul class="bios__nav">
      <li class="bios__nav-item">
        <a href="#david-hyun" class="bios__nav-link is-current">David Hyun</a>
      </li>
      <li class="bios__nav-item">
        <a href="#craig-underwood" class="bios__nav-link">Craig Underwood</a>
      </li>
      <li class="bios__nav-item">
        <a href="#marisa-quintanar" class="bios__nav-link">Marisa Quintanar</a>
      </li>
    </ul>
    <button class="bios__close-btn">
      {{ partial "svgs/close.svg" (dict "class" "bios__close-icon")}}
    </button>
    <div id="craig-underwood" class="bios__bio bio">
      <div class="bio__img-container">
        <div class="bio__img-wrapper">
          <img src="images/home/leadership/david.jpg" alt="" class="bio__img">
        </div>
      </div>
      <div class="bio__copy-container">
        <h2 class="bio__title">David Hyun</h2>
        <p class="bio__role">Partner</p>
        <div class="bio__details">
          <p>David’s knowledge of charter school real estate development is unsurpassed. Since 2009, he has developed and financed over 25 charter schools — totaling over $300 million in investment — using conventional bank loans, new market tax credits, tax exempt bonds, and various state bonds. In two decades, he’s touched all aspects of the real estate cycle, from investment to construction and development to property management and corporate accounting.</p>
          <p>Prior to joining Red Hook Capital, Mr. Hyun worked for Westfield, Trammell Crow Company, Playa Capital Company (Playa Vista Master Development), and most recently he served as the CFO/COO at Alliance College Ready Public Schools in Los Angeles. </p>
        </div>
        <p class="bio__email"><a href="emailto:dhyun@redhookcap.com" class="bio__email-link">{{ partial "svgs/email.svg" (dict "class" "bio__email-icon")}} dhyun@redhookcap.com</a></p>
      </div>
    </div>
  </div>
</div>
