<section id="case-studies" class="case-studies js-site-section">
  <div class="case-studies__container">
    <h1 class="case-studies__title">Case Studies</h1>
    <p class="case-studies__details">Just in the last three years, Red Hook Capital has taken on more than ten projects around the country. Find out how we have partnered with quality schools to help make their dreams come true.</p>
    <div class="case-studies__grid grid">
      <div class="grid__content u-clearfix">

        <div class="grid__sizer"></div>

        <div class="grid-item grid-item--vertical is-first">
          <a href="case-studies/city-language-immersion-and-charter-school/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">City Language Immersion Charter School (CLIC) {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/clic/featured.jpg" alt="">
          </a>
        </div>

        <div class="grid-item is-first">
          <a href="case-studies/value-schools-university-prep-value-high-school/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">Value School University Prep {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/value-school/featured.jpg" alt="">
          </a>
        </div>

        <div class="grid-item is-first">
          <a href="case-studies/coral-academy-centennial-hills-campus/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">Coral Academy Centennial Hills Campus {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/coral/featured.jpg" alt="">
          </a>
        </div>

        <div class="grid-item is-hidden">
          <a href="case-studies/value-schools-university-prep-value-high-school/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">Value School University Prep {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/value-school/featured.jpg" alt="">
          </a>
        </div>

        <div class="grid-item grid-item--vertical is-hidden">
          <a href="case-studies/city-language-immersion-and-charter-school/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">City Language Immersion Charter School (CLIC) {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/clic/featured.jpg" alt="">
          </a>
        </div>

        <div class="grid-item is-hidden">
          <a href="case-studies/coral-academy-centennial-hills-campus/" class="grid-item__link">
            <div class="grid-item__copy">
              <h2 class="grid-item__title">Coral Academy Centennial Hills Campus {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__title-arrow")}}</h2>
              <div class="grid-item__detail-mask">
                <div class="grid-item__detail-content">
                  <p class="grid-item__details">Learn how Red Hook Capital helped City Language Charter School (CLIC) get through their entitlement phase!</p>
                  <p class="grid-item__cta">View More {{ partial "svgs/chevron-right.svg" (dict "class" "grid-item__cta-arrow")}}</p>
                </div>
              </div>
            </div>
            <img  class="grid-item__img" src="images/case-studies/coral/featured.jpg" alt="">
          </a>
        </div>

      </div>
      <button class="grid__cta">
        <span class="grid__cta-text">Load More</span>
        {{ partial "svgs/chevron-down.svg" (dict "class" "grid__cta-arrow")}}
      </button>
    </div>
  </div>
</section>
