<section id="faq" class="faq js-site-section">
  <div class="faq__container">

  	<div class="col-left">
  		{{ range $index, $faq := first 5 .Params.faq.groups }}
  		<div class="accordion accordion-header">
  			<div>
  				<h3 class="accordion-heading">{{ .question }}</h3>
  				<i class="indicator"></i>
  			</div>
  		</div>
  		<div class="accordion accordion-desc">
  			<p class="desc">
  				{{ .answer }}
  			</p>
  		</div>

  		{{ end }}
      <button class="faq-all default mobile"><span>See All</span></button>
  	</div>

  	<div class="col-right">
  		<h2 class="faq__title">{{ .Params.faq.title | safeHTML }}</h1>
     	<p class="faq__heading">{{ .Params.faq.heading | safeHTML }}</p>
     	<button class="faq-all default"><span>See All</span></button>
  	</div>

  </div>
</section>