<section id="hero" class="hero js-site-section">
  <div class="hero__container">
    <a class="hero__logo" href="index.html">
      {{ partial "svgs/logo.svg" (dict "class" "hero__logo-icon")}}
    </a>
    <div class="hero__copy-container">
      <h1 class="hero__title">Building <br>the Future</h1>
      <p class="hero__details">Red Hook Capital Partners is a real estate investment and development firm working with schools and organizations to create their permanent homes.</p>
    </div>
    <button class="scroll-down-btn">
      <span class="scroll-down-btn__text">Scroll to explore</span>
      {{ partial "svgs/chevron-down.svg" (dict "class" "scroll-down-btn__chevron")}}
    </button>
  </div>
</section>
