<section class="leadership">
  <div class="leadership__container">
    <h1 class="leadership__title">Leadership</h1>
    <div class="leadership__leaders">
      <div class="leadership__leader leader">
        <a href="#david-hyun" class="leader__link">
          <div class="leader__img-wrapper">
            <img src="images/home/leadership/david.jpg" alt="" class="leader__img">
          </div>
          <h2 class="leader__title">David Hyun</h2>
          <p class="leader__role">Partner</p>
          <p class="leader__cta">View Bio {{ partial "svgs/chevron-right.svg" (dict "class" "leader__cta-arrow")}}</p>
        </a>
      </div>
      <div class="leadership__leader leader">
        <a href="#craig-underwood" class="leader__link">
          <div class="leader__img-wrapper">
            <img src="images/home/leadership/craig.jpg" alt="" class="leader__img">
          </div>
          <h2 class="leader__title">Craig Underwood</h2>
          <p class="leader__role">Partner</p>
          <p class="leader__cta">View Bio {{ partial "svgs/chevron-right.svg" (dict "class" "leader__cta-arrow")}}</p>
        </a>
      </div>
      <div class="leadership__leader leader">
        <a href="#marisa-quintanar" class="leader__link">
          <div class="leader__img-wrapper">
            <img src="images/home/leadership/marisa.jpg" alt="" class="leader__img">
          </div>
          <h2 class="leader__title">Marisa Quintanar</h2>
          <p class="leader__role">Vice President</p>
          <p class="leader__cta">View Bio {{ partial "svgs/chevron-right.svg" (dict "class" "leader__cta-arrow")}}</p>
        </a>
      </div>
    </div>
  </div>
</section>
