<section id="services" class="services js-site-section">
  <div class="services__container">

    <div class="services__col-left">

      <div class="services__video">
        <img src="{{ .Params.services.video_image_lrg | relURL }}" />
        <h3 class="services__video-instruction">{{ .Params.services.video_instruct }}</h3>
      </div>

      <div class="services__overlap-image">
        <img src="{{ .Params.services.overflow_image_lrg | relURL }}" />        
      </div>

    </div>

    <div class="services__col-right">
      <h1 class="services__title">{{ .Params.services.title | safeHTML }}</h1>
      <h2 class="services__heading">{{ .Params.services.heading | safeHTML }}</h2>
      <!-- <p class="services__details"> -->
      <div class="services__details">
        {{ .Params.services.details | markdownify }}
      </div>
      
      <div class="services__list">
        {{ range $service := .Params.services.services }}
          <div class="services__list-item">
            <div class="service">
              <div class="service__icon-wrapper">
                {{ $icon := printf "svgs/%s.svg" .icon }}
                {{ $fullclass :=  printf "service__icon service__icon--%s" .icon }}
                <!-- {{ $name := printf "%s" .icon }} -->
                {{ partial $icon (dict "class" $fullclass) }}
              </div>
              <h2 class="service__title">{{ .title }}</h2>
            </div>
          </div>
        {{ end }}
      </div>

    </div>

  </div>
</section>
