<section id="testimonials" class="testimonials testimonials-hero js-site-section">
  <div class="testimonials__container">

  	<div class="testimonials__testimonial-wrapper">
  		<h1 class="testimonials__title">{{ .Params.testimonials.title }}</h1>
    	<p class="testimonials__heading">{{ .Params.testimonials.heading }}</p>
    	<div class="testimonials__wrapper">
	    	{{ range $index, $testimonial := .Params.testimonials.testimonial }}
	    	<div class="testimonials__testimonials-container num-{{ $index }}">
	    	
	    		<p class="testimonials__testimonial-text">“{{ .quote }}”</p>
	    		<span class="by-line">{{ .by }}</span>

	    	</div>
	      {{ end }}
      	</div>
  	</div>

  </div>
  <div class="bg"> </div>
</section>
<style>
  .bg {
    display: none;
  }
  .testimonials-hero {
    background-image: url({{ .Params.testimonials.image_lrg | relURL }});
  }
  @media (max-width: 870px) {
    .testimonials-hero {
      background-image: none;
    }

    .testimonials .bg {
      background-image: url({{ .Params.testimonials.image_sml | relURL }});
    }
  }
</style>