<nav class="internal-nav is-sticky">
  <div class="internal-nav__container">
    <a class="internal-nav__logo js-nav-link" href="index.html">
      {{ partial "svgs/logo-simple.svg" (dict "class" "internal-nav__logo-icon")}}
    </a>
    <ul class="internal-nav__list internal-nav__list--left">
        <li class="internal-nav__item">
          <a class="internal-nav__link js-nav-link" href="index.html#services">Services{{ partial "svgs/chevron-right.svg" (dict "class" "internal-nav__icon")}}</a>
        </li>
        <li class="internal-nav__item">
          <a class="internal-nav__link js-nav-link" href="index.html#process">Process{{ partial "svgs/chevron-right.svg" (dict "class" "internal-nav__icon")}}</a>
        </li>
        <li class="internal-nav__item">
          <a class="internal-nav__link js-nav-link" href="index.html#case-studies">Case Studies{{ partial "svgs/chevron-right.svg" (dict "class" "internal-nav__icon")}}</a>
        </li>
        <li class="internal-nav__item">
          <a class="internal-nav__link js-nav-link" href="index.html#leadership">Leadership{{ partial "svgs/chevron-right.svg" (dict "class" "internal-nav__icon")}}</a>
        </li>
        <li class="internal-nav__item">
          <a class="internal-nav__link js-nav-link" href="index.html#contact">Contact Us{{ partial "svgs/chevron-right.svg" (dict "class" "internal-nav__icon")}}</a>
        </li>
    </ul>
  </div>
</nav>
