<nav class="site-nav">
  <div class="site-nav__container">
    <a class="site-nav__logo js-nav-link" href="#hero">
      {{ partial "svgs/logo-simple.svg" (dict "class" "site-nav__logo-icon")}}
    </a>
    <ul class="site-nav__list site-nav__list--left">
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#services">Services{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#process">Process{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#case-studies">Case Studies{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#leadership">Leadership{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#careers">Careers{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link js-nav-link" href="#contact">Contact Us{{ partial "svgs/chevron-right.svg" (dict "class" "site-nav__icon")}}</a>
        </li>
    </ul>
  </div>
</nav>
